[Unit]
Description=Humanode Peer Node
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=__HUMANODE_HOME__
ExecStart=__HUMANODE_BINARY_PATH__ --base-path __HUMANODE_DATA_PATH__ --name __NODE_NAME__ --chain __CHAINSPEC_PATH__ --unsafe-rpc-external --rpc-methods Safe --rpc-cors all --execution Wasm --rpc-url-ngrok-detect --rpc-port 9944 --validator
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target