[Unit]
Description=Humanode Peer Node
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=__HUMANODE_HOME__
ExecStart=__HUMANODE_BINARY_PATH__ --base-path __HUMANODE_DATA_PATH__ --name __NODE_NAME__ --chain __CHAINSPEC_PATH__ --rpc-cors all --rpc-url-ngrok-detect --validator
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target